html {
    color: white;
    background-color: #0e0f13;
    text-align: center;
}

body {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.chapter-selection {
    overflow-y: scroll;
    height: 100%;
}

details {
    margin-bottom: 0.5em;
}

summary {
    position: sticky;
    top: 0;
    background-color: #171c26;
    padding: 1em;
}

.chapter {
    padding: 0.5em;
    display: block;
    color: #f7a71b;
}

.chapter:nth-child(2n) {
    background-color: #1e2431;
}

.chapter:nth-child(2n+1) {
    background-color: #262e40;
}

.chapter:has(input[type="radio"]:checked) {
    background-color: #000000;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
}

input[type="radio"]::before {
    content: "> ";
    transition-duration: 120ms;
    transition-timing-function: ease-out;
    transition-property: transform, width;
    transform: scaleX(0%);
    color: #f7a71b;
    display: inline-block;
    width: 0;
}

input[type="radio"]:checked::before {
    transition-timing-function: ease-in;
    transform: scaleX(100%);
    width: 1em;
}